img{
    height: 100%;
    text-align: center;
    margin-top: 20px;
}
.img-1 a{
    text-decoration: none;
    color: rgb(33 37 41 / 75%);
    font-weight: 700;
    margin-bottom: 20px;
}
.img-1 h3{
    font-size: 22px;
}
.img-1 p{
    max-width: 300px;
}
section{
    padding: 100px 0px;
}
.bg{
    background-color: white;
    width: 35%;
    border-radius: 20px;
    border: 10px solid rgb(248 249 250);
}
.content a{
    margin-bottom: 20px;
}
.dropdown-item:hover{
    transition: all 1s linear;
}
/* body{
    color: white;
} */